{% extends 'layouts/base.html' %}
{% block content %}
    <div class="container mt-5">
        <a href="{% url 'form' %}" class="btn btn-primary btn-sm">Add</a>
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Created_at</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for i in object_list %}
                <tr>
                    <th scope="row">{{ i.pk }}</th>
                    <td>{{ i.title }}</td>
                    <td>{{ i.author }}</td>
                    <td>{{ i.created_at| date:"d N Y" }}</td>
                    <td>
                        <a href="{% url 'book' i.pk %}" class="btn btn-success btn-sm"><span
                                class="fa fa-eye"></span></a>
                        <a href="{% url 'book' i.pk %}" class="btn btn-danger btn-sm"><span class="fa fa-trash"></span></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
